body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
h1 {
  font-size: 35px;
  line-height: 40px;
  font-weight: 400;
}
h2 {
  font-size: 28px;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 20px;
}
li {
  list-style: none;
  font-size: 25px;
  font-weight: 200;
  line-height: 35px;
}
a {
  text-decoration: none;
  color: #fff;
}
.weather-app-wrapper {
  max-width: 900px;
  margin: 30px auto;
}
.weather-app {
  padding: 30px;
  border: 1px solid #2934b5;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    rgb(43, 50, 178) 0%,
    rgb(20, 136, 204) 100%
  );
}
.weather-temperature img {
  height: 120px;
  width: 120px;
}
.temperature,
.description {
  list-style: none;
  font-size: 25px;
  font-weight: 200;
  line-height: 30px;
}
.temperature {
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
}
.units {
  line-height: 40px;
  font-size: 15px;
}
.description {
  line-height: 40px;
}
.open-source {
  color: #2934b5;
}
small .myname {
  color: #000;
}
